.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: black;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}

.footer a {
  flex-grow: 1;
  text-align: center;
}

.footer a button {
  padding: 0;
  margin: 0;
  border: none;
}
