.warp {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.button {
  padding: 5px 9px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.04em;
  cursor: pointer;
  color: #6d6d6d;
}

.button:focus {
  background: #82b0f4;
  color: #ffffff;
  border: 1px solid #f2f2f2;
}
