/* wrapper */
* {
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.App {
  width: 375px;
  height: 768px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

