.main {
  height: 100%;
  padding: 20px;
  background-color: #f0f1f4;
  overflow-y: scroll;
}

/* 아래의 모든 코드는 영역::코드로 사용 */

.main::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.main::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #00000227; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.main::-webkit-scrollbar-track {
  background: rgba(4, 14, 27, 0.055);
}
